/*Styles about Body*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

/*header*/
.header {
  background-color: #ffffff;
  padding: 11.5px;
}

/*logo align*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*square*/
.square {
  height: 600px;
  width: 700px;
  border-radius: 10%;
  background-color: rgb(193, 255, 250);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #69c8ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0dbaff;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2ad4ff;
}

.container {
  padding-left: 31%;
  padding-right: 31%;
}

.content {
  padding: 65px;
}

/*stickey pane*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}